<?xml version="1.0" encoding="UTF-8"?>
<events>
  <event>
    <id>8616358</id>
    <url>http://www.bandsintown.com/event/8616358?artist=Korn&amp;came_from=67</url>
    <datetime>2014-10-29T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8616358/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>1229</id>
      <url>http://www.bandsintown.com/venue/1229</url>
      <name>El Paso County Coliseum</name>
      <city>El Paso</city>
      <region>TX</region>
      <country>United States</country>
      <latitude>31.7670920</latitude>
      <longitude>-106.4435990</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:18:02</on_sale_datetime>
  </event>
  <event>
    <id>8616378</id>
    <url>http://www.bandsintown.com/event/8616378?artist=Korn&amp;came_from=67</url>
    <datetime>2014-10-31T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8616378/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>1025475</id>
      <url>http://www.bandsintown.com/venue/1025475</url>
      <name>Gexa Energy Pavilion</name>
      <city>Dallas</city>
      <region>TX</region>
      <country>United States</country>
      <latitude>32.7742600</latitude>
      <longitude>-96.7574180</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:18:21</on_sale_datetime>
  </event>
  <event>
    <id>8636591</id>
    <url>http://www.bandsintown.com/event/8636591?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-01T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8636591/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>427408</id>
      <url>http://www.bandsintown.com/venue/427408</url>
      <name>American Bank Center Arena</name>
      <city>Corpus Christi</city>
      <region>TX</region>
      <country>United States</country>
      <latitude>27.8093020</latitude>
      <longitude>-97.3931340</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:18:51</on_sale_datetime>
  </event>
  <event>
    <id>8640652</id>
    <url>http://www.bandsintown.com/event/8640652?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-02T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8640652/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>275979</id>
      <url>http://www.bandsintown.com/venue/275979</url>
      <name>AT&amp;T Center</name>
      <city>San Antonio</city>
      <region>TX</region>
      <country>United States</country>
      <latitude>29.4252610</latitude>
      <longitude>-98.4349940</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:19:04</on_sale_datetime>
  </event>
  <event>
    <id>8616429</id>
    <url>http://www.bandsintown.com/event/8616429?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-04T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8616429/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>690794</id>
      <url>http://www.bandsintown.com/venue/690794</url>
      <name>Verizon Arena</name>
      <city>Little Rock</city>
      <region>AR</region>
      <country>United States</country>
      <latitude>34.7486550</latitude>
      <longitude>-92.2744940</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-09-05T10:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8636590</id>
    <url>http://www.bandsintown.com/event/8636590?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-05T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8636590/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>1168538</id>
      <url>http://www.bandsintown.com/venue/1168538</url>
      <name>Chesapeake Energy Arena</name>
      <city>Oklahoma City</city>
      <region>OK</region>
      <country>United States</country>
      <latitude>35.4641490</latitude>
      <longitude>-97.5148180</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-09-05T10:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8617801</id>
    <url>http://www.bandsintown.com/event/8617801?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-06T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8617801/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>1161100</id>
      <url>http://www.bandsintown.com/venue/1161100</url>
      <name>CenturyLink Center Omaha</name>
      <city>Omaha</city>
      <region>NE</region>
      <country>United States</country>
      <latitude>41.2631430</latitude>
      <longitude>-95.9290760</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:16:35</on_sale_datetime>
  </event>
  <event>
    <id>8636589</id>
    <url>http://www.bandsintown.com/event/8636589?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-08T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8636589/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>282811</id>
      <url>http://www.bandsintown.com/venue/282811</url>
      <name>Coliseum at Alliant Energy Center</name>
      <city>Madison</city>
      <region>WI</region>
      <country>United States</country>
      <latitude>43.0451300</latitude>
      <longitude>-89.3792620</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:19:53</on_sale_datetime>
  </event>
  <event>
    <id>8619860</id>
    <url>http://www.bandsintown.com/event/8619860?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-09T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8619860/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>2205283</id>
      <url>http://www.bandsintown.com/venue/2205283</url>
      <name>Denny Sanford PREMIER Center</name>
      <city>Sioux Falls</city>
      <region>SD</region>
      <country>United States</country>
      <latitude>43.5616071</latitude>
      <longitude>-96.7472430</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:20:06</on_sale_datetime>
  </event>
  <event>
    <id>8636588</id>
    <url>http://www.bandsintown.com/event/8636588?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-11T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8636588/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>2672</id>
      <url>http://www.bandsintown.com/venue/2672</url>
      <name>Denver Coliseum</name>
      <city>Denver</city>
      <region>CO</region>
      <country>United States</country>
      <latitude>39.7804830</latitude>
      <longitude>-104.9699880</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:20:19</on_sale_datetime>
  </event>
  <event>
    <id>8636587</id>
    <url>http://www.bandsintown.com/event/8636587?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-19T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8636587/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>2454711</id>
      <url>http://www.bandsintown.com/venue/2454711</url>
      <name>Royal Farms Arena</name>
      <city>Baltimore</city>
      <region>MD</region>
      <country>United States</country>
      <latitude>39.2893720</latitude>
      <longitude>-76.6186980</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:20:35</on_sale_datetime>
  </event>
  <event>
    <id>8640650</id>
    <url>http://www.bandsintown.com/event/8640650?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-21T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8640650/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>839411</id>
      <url>http://www.bandsintown.com/venue/839411</url>
      <name>Bridgestone Arena</name>
      <city>Nashville</city>
      <region>TN</region>
      <country>United States</country>
      <latitude>36.1603080</latitude>
      <longitude>-86.7785100</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:20:48</on_sale_datetime>
  </event>
  <event>
    <id>8616506</id>
    <url>http://www.bandsintown.com/event/8616506?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-22T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8616506/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>275839</id>
      <url>http://www.bandsintown.com/venue/275839</url>
      <name>Rupp Arena</name>
      <city>Lexington</city>
      <region>KY</region>
      <country>United States</country>
      <latitude>38.0493900</latitude>
      <longitude>-84.5009800</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:21:04</on_sale_datetime>
  </event>
  <event>
    <id>8616512</id>
    <url>http://www.bandsintown.com/event/8616512?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-23T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8616512/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>684486</id>
      <url>http://www.bandsintown.com/venue/684486</url>
      <name>Allen County War Memorial Coliseum</name>
      <city>Fort Wayne</city>
      <region>IN</region>
      <country>United States</country>
      <latitude>41.1138350</latitude>
      <longitude>-85.1254710</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-09-05T10:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8640649</id>
    <url>http://www.bandsintown.com/event/8640649?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-25T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8640649/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>775592</id>
      <url>http://www.bandsintown.com/venue/775592</url>
      <name>iWireless Center</name>
      <city>Moline</city>
      <region>IL</region>
      <country>United States</country>
      <latitude>41.5072780</latitude>
      <longitude>-90.5200810</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-09-05T10:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8638429</id>
    <url>http://www.bandsintown.com/event/8638429?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-26T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8638429/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>166807</id>
      <url>http://www.bandsintown.com/venue/166807</url>
      <name>Sprint Center</name>
      <city>Kansas City</city>
      <region>MO</region>
      <country>United States</country>
      <latitude>39.0968600</latitude>
      <longitude>-94.5810670</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2009-09-12T20:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8616528</id>
    <url>http://www.bandsintown.com/event/8616528?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-28T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8616528/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>278403</id>
      <url>http://www.bandsintown.com/venue/278403</url>
      <name>Allstate Arena</name>
      <city>Rosemont</city>
      <region>IL</region>
      <country>United States</country>
      <latitude>42.0057420</latitude>
      <longitude>-87.8848660</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:22:00</on_sale_datetime>
  </event>
  <event>
    <id>8640648</id>
    <url>http://www.bandsintown.com/event/8640648?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-29T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8640648/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>290721</id>
      <url>http://www.bandsintown.com/venue/290721</url>
      <name>The Palace Of Auburn Hills</name>
      <city>Auburn Hills</city>
      <region>MI</region>
      <country>United States</country>
      <latitude>42.6964270</latitude>
      <longitude>-83.2441420</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:22:15</on_sale_datetime>
  </event>
  <event>
    <id>8616545</id>
    <url>http://www.bandsintown.com/event/8616545?artist=Korn&amp;came_from=67</url>
    <datetime>2014-11-30T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8616545/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>6424</id>
      <url>http://www.bandsintown.com/venue/6424</url>
      <name>Air Canada Centre</name>
      <city>Toronto</city>
      <region>08</region>
      <country>Canada</country>
      <latitude>43.6666667</latitude>
      <longitude>-79.4166667</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:23:09</on_sale_datetime>
  </event>
  <event>
    <id>8640647</id>
    <url>http://www.bandsintown.com/event/8640647?artist=Korn&amp;came_from=67</url>
    <datetime>2014-12-02T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8640647/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>2017794</id>
      <url>http://www.bandsintown.com/venue/2017794</url>
      <name>The Santander Arena</name>
      <city>Reading</city>
      <region>PA</region>
      <country>United States</country>
      <latitude>40.3350830</latitude>
      <longitude>-75.9239180</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-09-05T10:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8617036</id>
    <url>http://www.bandsintown.com/event/8617036?artist=Korn&amp;came_from=67</url>
    <datetime>2014-12-03T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8617036/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>1742159</id>
      <url>http://www.bandsintown.com/venue/1742159</url>
      <name>Susquehanna Bank Center</name>
      <city>Camden</city>
      <region>NJ</region>
      <country>United States</country>
      <latitude>39.9417700</latitude>
      <longitude>-75.1293300</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-09-05T10:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8636586</id>
    <url>http://www.bandsintown.com/event/8636586?artist=Korn&amp;came_from=67</url>
    <datetime>2014-12-05T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8636586/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>275789</id>
      <url>http://www.bandsintown.com/venue/275789</url>
      <name>Mohegan Sun Arena</name>
      <city>Uncasville</city>
      <region>CT</region>
      <country>United States</country>
      <latitude>41.4922290</latitude>
      <longitude>-72.0957540</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-09-05T10:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8616568</id>
    <url>http://www.bandsintown.com/event/8616568?artist=Korn&amp;came_from=67</url>
    <datetime>2014-12-06T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8616568/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>295128</id>
      <url>http://www.bandsintown.com/venue/295128</url>
      <name>IZOD Center</name>
      <city>East Rutherford</city>
      <region>NJ</region>
      <country>United States</country>
      <latitude>40.8275840</latitude>
      <longitude>-74.0791240</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-08-25T19:24:11</on_sale_datetime>
  </event>
  <event>
    <id>8655876</id>
    <url>http://www.bandsintown.com/event/8655876?artist=Korn&amp;came_from=67</url>
    <datetime>2014-12-07T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8655876/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Korn</name>
        <url>http://www.bandsintown.com/Korn</url>
        <mbid>ac865b2e-bba8-4f5a-8756-dd40d5e39f46</mbid>
      </artist>
    </artists>
    <venue>
      <id>835412</id>
      <url>http://www.bandsintown.com/venue/835412</url>
      <name>Tsongas Center at UMass Lowell</name>
      <city>Lowell</city>
      <region>MA</region>
      <country>United States</country>
      <latitude>42.6496840</latitude>
      <longitude>-71.3130110</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-09-05T10:00:00</on_sale_datetime>
  </event>
</events>
