<?xml version="1.0" encoding="UTF-8"?>
<events>
  <event>
    <id>8047928</id>
    <url>http://www.bandsintown.com/event/8047928?artist=Gaga&amp;came_from=67</url>
    <datetime>2014-10-17T20:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8047928/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Gaga</name>
        <url>http://www.bandsintown.com/Gaga</url>
        <mbid>79a56dcf-fd44-49e3-8d1f-cff86c81b598</mbid>
      </artist>
    </artists>
    <venue>
      <id>319447</id>
      <url>http://www.bandsintown.com/venue/319447</url>
      <name>Pyramid and Parr Hall</name>
      <city>Warrington</city>
      <region></region>
      <country>United Kingdom</country>
      <latitude>53.3873740</latitude>
      <longitude>-2.5966850</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-01T09:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8660705</id>
    <url>http://www.bandsintown.com/event/8660705?artist=Gaga&amp;came_from=67</url>
    <datetime>2014-11-01T20:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8660705/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Gaga</name>
        <url>http://www.bandsintown.com/Gaga</url>
        <mbid>79a56dcf-fd44-49e3-8d1f-cff86c81b598</mbid>
      </artist>
    </artists>
    <venue>
      <id>987025</id>
      <url>http://www.bandsintown.com/venue/987025</url>
      <name>Universidad Iberoamericana Campus Ciudad de M&#233;xico</name>
      <city>Lomas De Santa Fe</city>
      <region>15</region>
      <country>Mexico</country>
      <latitude>19.3878990</latitude>
      <longitude>-99.2400970</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
</events>
